<h1>Let’s find your personalized plan:</h1>

<div>
  <label>Coverage starting</label>
  <input (input)="onChangeCoverageStart($event.target.value)"/>
</div>

<div>
  <label>Coverage for</label>
  <input (input)="onChangeCoverageScope($event.target.value)"/>
</div>

<div>
  <label>ZIP code</label>
  <input (input)="onChangeZip($event.target.value)"/>
</div>

<div>
  <label>My birthdate</label>
  <input type="date" (input)="onChangeBirthdate($event.target.value)"/>
</div>

<div>
  <label>Are you eligible for government subsides?</label>
  <input (change)="onChangeGovernmentSubsides()" type="checkbox"/>
</div>

<div>
  <button (click)="onButtonClick()">See plan</button>
</div>

<div>
  <label>Product</label>
  <app-product-card [products]="products"></app-product-card>
</div>

<router-outlet></router-outlet>